
section{
    padding: 50px
}
.img {
    width: 65%;
}
.fun {
    font-family: "Bitter", sans-serif;
    font-size: larger;
  }

  /* sticky class added to the header via JS */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.carouselImg img {
    width: auto;
    height: 45em;
    
  }

  .first {
    padding-top: 1em;
}

.sasquatch {
    width: 5%;
  } 

  .icon {
    color: black;
  }